body{
   color: rgb(203, 201, 199);
   background: rgb(77, 26, 114);
   margin: 0px;
}

header{
    border-bottom: solid 5px rgb(80, 108, 83);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);  
}

section{
    background: rgb(107, 109, 107);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 10%;
}

img{
    height:180px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
    