body{
    background-color: rgb(31, 12, 174);
    color: rgb(167, 96, 4);
    font-family:Arial, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif ;
    margin: 0px;
}


header{
    font-variant-ligatures: additional-ligatures;
    border-bottom: solid 5px rgb(80, 108, 83);
    padding: 10px;
    color: whitesmoke;
    
}

h1{
    color: black;
    font-family: sans-serif;
}

p{
    color:rgb(115, 122, 141)
}