body{
    background-color: rgb(191, 34, 34);
    color: antiquewhite;
    font-family:Arial, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif ;
    margin: 0px;
}


header{
    border-bottom: solid 8px whitesmoke;
    padding: 20px;
}